<a href="https://colab.research.google.com/github/Aayush-Mishra07/Mutual-Fund-Analysis/blob/main/MFOther.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MF (other approaches):
This notebook has other approaches to shortlist mutual fund large caps.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Taking a look at our large cap data.Here are the first five rows.

In [ ]:
data=pd.read_excel('/content/MF Large Cap.xlsx')
data.head()

,Scheme Name,AMFI Code,ISIN Code,Status,Category_,Asset Type,Sub Category,AUM (Cr.),Month End,Exp. Ratio,...,5 Years,10 Years,SINCE INCEPTION,SD,Beta (Correlation),Treynor,Sharpe,Jensen`s Alpha,Sortino,Month End.1
0,Aditya Birla SL Frontline Equity (Trigger Faci...,0,INF209K01KI9,Active,Large Cap Fund,Equity,Large Cap Fund,22498.061000,202305,1.69,...,11.4157,14.5850,19.0248,4.3418,0.9560,1.6205,0.3568,0.1038,0.7745,202305
1,Aditya Birla SL Frontline Equity Fund(G),103174,INF209K01BR9,Active,Large Cap Fund,Equity,Large Cap Fund,22498.061000,202305,1.69,...,11.4157,14.5850,18.9594,4.3418,0.9560,1.6205,0.3568,0.1038,0.7745,202305
2,Axis Bluechip Fund-Reg(G),112277,INF846K01164,Active,Large Cap Fund,Equity,Large Cap Fund,33644.250799,202305,1.56,...,10.8192,13.8767,11.8457,4.3818,0.9467,1.0408,0.2249,-0.5496,0.4492,202305
3,Bandhan Large Cap Fund-Reg(G),108799,INF194K01516,Active,Large Cap Fund,Equity,Large Cap Fund,1120.615100,202305,2.16,...,10.8940,12.2178,10.2756,4.2889,0.9238,1.4320,0.3084,-0.1750,0.6323,202305
4,Bank of India Bluechip Fund-Reg(G),148982,INF761K01FO7,Active,Large Cap Fund,Equity,Large Cap Fund,113.389700,202305,2.46,...,0.0000,0.0000,5.9049,4.5393,0.9918,0.0112,0.0024,-0.3444,0.0044,202305

## Mean centering the data:
Mean centering is a data preprocessing technique used to subtract the mean from each data point in a dataset. It helps to remove the average or central tendency from the data, making the mean of the centered data close to zero. This process is beneficial in various statistical analysis.This helps to compare any parameter or ratio of a scheme with the average of that parameter for all large cap schemes.

In [ ]:

columns_to_center = data.columns[12:]

# Calculate the mean of each selected column
means = data[columns_to_center].mean()

# Subtract the mean from each selected column
df2= data[columns_to_center] - means
df2.sort_values(by='10 Years',ascending=False).head(10)

,6 Months,9 Months,1 Year,3 Years,5 Years,10 Years,SINCE INCEPTION,SD,Beta (Correlation),Treynor,Sharpe,Jensen`s Alpha,Sortino,Month End.1
22,-1.082715,-0.654647,-1.731385,3.361971,2.736547,5.977624,1.36235,-0.025626,-0.014444,0.249606,0.057771,0.11645,0.130897,11900.382353
23,4.693285,6.030053,12.120815,10.924871,4.173747,5.600324,-1.55775,0.479474,0.073856,0.619906,0.129871,0.38675,0.325897,11900.382353
26,2.994685,3.812253,5.210915,6.603671,3.107847,4.773824,-1.87945,0.154774,0.025956,0.371306,0.084771,0.12995,0.221497,11900.382353
14,0.300285,3.074753,2.339315,6.017271,3.447547,4.273824,0.53105,-0.167026,-0.049544,0.451506,0.100171,0.29685,0.244297,11900.382353
5,-0.321715,1.163653,0.094115,2.146671,3.222847,3.875824,2.03575,-0.214926,-0.053744,0.139106,0.034271,0.02325,0.063597,11900.382353
6,0.791885,0.939153,0.695215,2.732871,4.455047,3.630824,-1.27165,-0.212526,-0.047644,0.189106,0.047271,-0.03805,0.087997,11900.382353
1,0.185285,0.854753,2.089515,5.191771,2.006147,3.619924,5.37075,0.045674,0.006456,0.320706,0.075271,0.18525,0.176297,11900.382353
0,0.185285,0.854753,2.089515,5.191771,2.006147,3.619924,5.43615,0.045674,0.006456,0.320706,0.075271,0.18525,0.176297,11900.382353
11,1.742585,4.447653,5.374615,7.244671,3.216747,3.518524,5.09075,0.332374,0.030856,0.451306,0.089371,0.31585,0.250297,11900.382353
19,-0.070215,0.418353,0.655215,4.426371,3.155547,3.344524,5.19955,-0.028426,-0.014444,0.316706,0.072671,0.17915,0.152697,11900.382353

Intersection of 10Years,5 Years,3 Years,Sharpe values arranged from highest to lowest,
Expense Ratio values from lowest to highest:

In [ ]:
teny=data.sort_values(by='10 Years',ascending=False).head(12)
fivey=data.sort_values(by='5 Years',ascending=False).head(12)
threey=data.sort_values(by='3 Years',ascending=False).head(12)
sharpe=data.sort_values(by='Sharpe',ascending=False).head(12)
exp=data.sort_values(by='Exp. Ratio',ascending=True).head(12)
top=threey.merge(teny, on='Scheme Name',how='inner').merge(fivey, on='Scheme Name',how='inner').merge(sharpe, on='Scheme Name',how='inner').merge(exp, on='Scheme Name',how='inner')

<ipython-input-29-278fccbf39e3>:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Sub Category_x', 'Category__x', 'AUM (Cr.)_x', '1 Year_x', 'SINCE INCEPTION_x', 'Jensen`s Alpha_x', 'SD_x', 'Treynor_x', 'Beta (Correlation)_x', 'Month End_x', 'Exp. Ratio_x', '3 Years_x', 'Latest Date_x', '10 Years_x', 'Sortino_x', '5 Years_x', '6 Months_x', 'Asset Type_x', '9 Months_x', 'Latest NAV(Rs)_x', 'ISIN Code_x', 'Month End.1_x', 'Sharpe_x', 'Status_x', 'AMFI Code_x'} in the result is deprecated and will raise a MergeError in a future version.
  top=threey.merge(teny, on='Scheme Name',how='inner').merge(fivey, on='Scheme Name',how='inner').merge(sharpe, on='Scheme Name',how='inner').merge(exp, on='Scheme Name',how='inner')

Common schemes that come in top 12 when arranged in descending order according to different values like 10 year,5 year,3 year returns,sharpe,exp ratio.

In [ ]:
top

,Scheme Name,AMFI Code_x,ISIN Code_x,Status_x,Category__x,Asset Type_x,Sub Category_x,AUM (Cr.)_x,Month End_x,Exp. Ratio_x,...,5 Years,10 Years,SINCE INCEPTION,SD,Beta (Correlation),Treynor,Sharpe,Jensen`s Alpha,Sortino,Month End.1
0,Nippon India Large Cap Fund(G),106235,INF204K01562,Active,Large Cap Fund,Equity,Large Cap Fund,14171.019900,202305,1.74,...,4.173747,5.600324,-1.55775,0.479474,0.073856,0.619906,0.129871,0.38675,0.325897,11900.382353
1,HDFC Top 100 Fund(G),102000,INF179K01BE2,Active,Large Cap Fund,Equity,Large Cap Fund,23821.339300,202305,1.70,...,3.216747,3.518524,5.09075,0.332374,0.030856,0.451306,0.089371,0.31585,0.250297,11900.382353
2,SBI BlueChip Fund-Reg(G),103504,INF200K01180,Active,Large Cap Fund,Equity,Large Cap Fund,36876.319600,202305,1.63,...,3.107847,4.773824,-1.87945,0.154774,0.025956,0.371306,0.084771,0.12995,0.221497,11900.382353
3,ICICI Pru Bluechip Fund(G),108466,INF109K01BL4,Active,Large Cap Fund,Equity,Large Cap Fund,37016.001183,202305,1.61,...,3.447547,4.273824,0.53105,-0.167026,-0.049544,0.451506,0.100171,0.29685,0.244297,11900.382353
4,Kotak Bluechip Fund(G),114458,INF174K01153,Active,Large Cap Fund,Equity,Large Cap Fund,5857.961000,202305,1.81,...,3.155547,3.344524,5.19955,-0.028426,-0.014444,0.316706,0.072671,0.17915,0.152697,11900.382353
5,Mirae Asset Large Cap Fund-Reg(G),107578,INF769K01010,Active,Large Cap Fund,Equity,Large Cap Fund,34640.460769,202305,1.55,...,2.736547,5.977624,1.36235,-0.025626,-0.014444,0.249606,0.057771,0.11645,0.130897,11900.382353

These schemes can be cross checked from their crisil ratings on moneycontrol website.Many of these schemes have good crisil rating.